{% extends "base.html" %}

{% block content %}
    <form class="uk-form-stacked" id="event-form" action="{% url 'create' %}" method="post">
        {% csrf_token %}
		{% for field in form %}
			<div class="uk-margin">
			<label class="uk-form-label" for="{{ field.name }}">{{ field.label }}</label>
			<div class="uk-form-controls">
	        	{{ field }}
			</div>
			</div>
		{% endfor %}
        <input class="uk-input uk-button" type="submit" value="Créer l'événement" />
    </form>
{% endblock %}
