{% extends "base.html" %}

{% load i18n %}

{% block content %}


<table class="user-id uk-margin"><tr>
    <td class="user-name">
        <a href="{% url 'profile' locutor.id %}">{{ locutor.user.username }}</a>
    </td>
    <td class="uk-icon-button user-pic">
        {% if not locutor.pic %}
            <span uk-icon="icon: user; ratio: 3"></span>
        {% else %}
            <img src="{{ locutor.pic.url }}" />
        {% endif %}
    </td>
</tr></table>

<ul uk-accordion="multiple: true">
    <li class="uk-open">
        <h3 class="uk-accordion-title">Éloquences</h3>
        <div class="uk-accordion-content">
            <ul>
            {% for s in subjects %}
            {% language 'fr' %}
                <li>({{ s.event.event_date }}) <a href="{% url 'speech' s.speech.id %}">{{ s.text }}</a></li>
            {% endlanguage %}
            {% endfor %}
            </ul>
        </div>
    </li>
    <li>
        <h3 class="uk-accordion-title">Sujets proposés</h3>
        <div class="uk-accordion-content">
            <ul>
            {% for s in proposed_subjects %}
            {% language 'fr' %}
                <li>({{ s.event.event_date }}) {{ s.text }}</li>
            {% endlanguage %}
            {% endfor %}
            </ul>
        </div>
    </li>
    <li>
        <h3 class="uk-accordion-title">Événements organisés</h3>
        <div class="uk-accordion-content">
            <ul>
            {% for e in events %}
            {% language 'fr' %}
                <li><a href="{% url 'event' e.id %}">{{ e.event_date }}</a></li>
            {% endlanguage %}
            {% endfor %}
            </ul>
        </div>
    </li>
</ul>


{% endblock %}
