{% extends "base.html" %}

{% load staticfiles %}
{% block more_script %}
    <script src="{% static 'website/js/src/file_upload.js' %}"></script>
{% endblock %}

{% block content %}

<ul uk-accordion="multiple: true">
    <li class="uk-open">
        <h3 class="uk-accordion-title">Général</h3>
        <div class="uk-accordion-content">
            <h5>Photo de profil</h5>
			<div class="file-upload uk-placeholder uk-text-center">
			    <span uk-icon="icon: cloud-upload"></span>
			    <span class="uk-text-middle">Uploader une nouvelle photo de profil (faire glisser ou cliquer</span>
			    <div uk-form-custom>
			        <input name="img" target="/settings" type="file">
                    {% csrf_token %}
			        <span class="uk-link">ici</span>
			    </div>
)
			</div>
			<progress id="progressbar" class="uk-progress" value="0" max="100" hidden></progress>
            <h5>Mot de passe</h5>
            <form class="uk-form-stacked" action="{% url 'change_pwd' %}" method="post">
                {% csrf_token %}
		        <div class="uk-margin">
		        	<label class="uk-form-label" for="old_password">Mot de passe actuel</label>
		        	<div class="uk-form-controls uk-form-password">
                        <input id="id_old_password" name="old_password" type="password" class="uk-input" required="">
		        	</div>
		        </div>
		        <div class="uk-margin">
		        	<label class="uk-form-label" for="new_password1">Nouveau mot de passe</label>
		        	<div class="uk-form-controls uk-form-password">
                        <input id="id_new_password1" name="new_password1" type="password" class="uk-input" required="">
		        	</div>
		        </div>
		        <div class="uk-margin">
		        	<label class="uk-form-label" for="new_password2">Nouveau mot de passe (confirmation)</label>
		        	<div class="uk-form-controls">
                        <input id="id_new_password2" name="new_password2" type="password" class="uk-input" required="">
		        	</div>
		        </div>
                <input type="submit" class="uk-button uk-input" value="Changer mon mot de passe">
            </form>
        </div>
    </li>
    <li>
        <h3 class="uk-accordion-title">Notifications par email</h3>
        <div class="uk-accordion-content">
            À venir...
        </div>
    </li>
    <li>
        <h3 class="uk-accordion-title">Protection des données</h3>
        <div class="uk-accordion-content">
            À venir...
        </div>
    </li>
</ul>

{% endblock %}

