<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Éloquence</title>
    {% load staticfiles %}
    <link rel="icon" href="{% static 'website/img/favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'website/css/lib/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/src/style.css' %}">

    {% block more_style %}
    {% endblock %}

    <script src="{% static 'website/js/lib/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'website/js/lib/uikit.min.js' %}"></script>
    <script src="{% static 'website/js/lib/uikit-icons.min.js' %}"></script>

    {% block more_script %}
    {% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}">
    <header>
        <nav>
            {% if user.is_authenticated %}
            <div class="uk-inline">
                <a href={% url 'profile' user.locutor.id %} class="uk-margin-right">
                    {{ user.username }}
                </a>
                <div class="user-pic uk-icon-button">
                    {% if not user.locutor.pic %}
                        <span uk-icon="icon: user"></span>
                    {% else %}
                    <img src="{{ user.locutor.pic.url }}" />
                    {% endif %}
                </div> 
                <div class="user-menu" uk-drop="mode: click; pos: bottom-right">
                    <p>
                        <a href="{% url 'profile' user.locutor.id %}">Profil</a> 
                    </p>
                    <p>
                        <a href="{% url 'settings' %}">Paramètres</a> 
                    </p>
                    <p>
                        <a href="{% url 'logout' %}">Se déconnecter</a> 
                    </p>
                </div>
            </div>
            {% else %}
                <a href="{% url 'login' %}">se connecter</a> | 
                <a href="{% url 'register' %}">s'inscrire</a>
            {% endif %}
        </nav>

        <h1><a href="{% url 'index' %}">Éloquence.</a></h1>
    </header>
    <div class="uk-alert">
        {% block alert %}
        {% endblock %}
    </div>

    <section>
    {% block content %}
    {% endblock %}
    </section>
</body>

</html>
